* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1024px;
  min-width: 600px;
  margin: 0 auto;
}

h1.main-logo {
  font-weight: normal;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  font-weight: 100;
  text-align: center;
  padding: 20px 0;
  /*border-bottom: 1px solid #ddd;*/
}
h1.main-logo strong {
  font-weight: 400;
}

.home-content {
  margin: 3px;
}
.home-content .heading {
  padding: 20px 10px;
  text-align: center;
  border-top: 3px solid #ddd;
}
.home-page.home-detail .home-content {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}

.details-view-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0.1;
  animation: fadeIn 0.3s linear;
}
.details-view {
  position: fixed;
  padding: 20px;
  top: 77px;
  /*width: calc(80% - 4px);*/
  width: 80%;
  max-width: 1024px;
  min-height: 400px;
  left: 0;
  right: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.15) inset;
  margin: auto;
  animation: zoomin 0.2s linear;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #aaa;
}

.filter-component {
  padding: 20px;
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1);
}

.list-component-wrap {
  position: relative;
  z-index: 0;
  min-height: 500px;
}
.list-component {    
  -webkit-transition: blur 0.3s linear;
  -moz-transition: blur 0.3s linear;
  transition: blur 0.3s linear;
}
.list-component.list-loading {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  filter: blur(2px);
}
.list-loader {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.list-loader img {
  position: absolute;
  width: 39px;
  height: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-top: 150px;
}

.row-component {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.row-component.row-header {
  cursor: default;
  padding-top: 5px;
  border-bottom: 2px solid #ddd;
}
.row-component.row-header:hover {
  background: inherit;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
.row-component:nth-child(even) {
  background-color: #f5f5f5;
}
.row-component:hover, .row-component:nth-child(even):hover {
  background-color: #e5e5e5;
  border-left: 4px solid #a00;
  border-right: 4px solid #a00;
}
.row-component.row-header .row-column {
  text-transform: capitalize;
}
.row-component .row-column {
  float: left;
  padding: 10px;
  min-width: 150px;
}

.pager-component {
  position: fixed;
  background-color: #fff;
  z-index: 2;
  width: 90%;
  max-width: 1024px;
  min-width: 600px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 8px -1px rgba(0, 0, 0, 0.1);
}

/* Animations */
@keyframes zoomin {
  from {
    transform: translateY(-25%) scaleY(0.5);
  }
  to {
    transform: translateY(0) scaleY(1.0);
  }
}

@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 0.1}
}